<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-designernews"></ion-icon>
      Dunia News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-container">
    <h1 class="header">What would you like to know?</h1>
  </div>

  <ion-item>
    <ion-icon name="search-outline" slot="start"></ion-icon>
    <ion-input [(ngModel)]="topic" placeholder="What are you looking for today?"></ion-input>
  </ion-item>
  <ion-button class="search" expand="block" (click)="search()">
    Search
  </ion-button>

  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

  <ion-card *ngFor="let item of newsData" class="news-card">
    <ion-img [src]="item.urlToImage" class="news-image"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
      <ion-card-subtitle>{{ item.publishedAt | date:'medium' }} by {{ item.author }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ item.description }}</p>
      <ion-button fill="clear" [href]="item.url" target="_blank">Read more <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
