<ion-header>
  <ion-toolbar>
    <ion-title>
      Dunia News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="top-news-title" size="large">Top 10 for Today</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let article of topArticles">
        <ion-card (click)="openArticle(article.url)" class="swiper-card">
          <img [src]="article.urlToImage" *ngIf="article.urlToImage" >
          <ion-card-header>
            <ion-card-title>{{ article.title }}</ion-card-title>
            <ion-card-subtitle>{{ article.publishedAt | date:'medium' }} by {{ article.author }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
    <br>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <div class="headline-container">
    <h4 class="section-title">News by Category</h4>
    <ion-button fill="clear" color="#936DB1" (click)="navigateToTopHeadlines()">
      See all <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="divider"></div>

  <div class="related-news">
    <h2>Headlines</h2>
    <ion-list>
      <ion-item *ngFor="let article of relatedArticles">
        <ion-thumbnail slot="start">
          <img [src]="article.urlToImage" *ngIf="article.urlToImage" class="rounded-image">
        </ion-thumbnail>
        <ion-label>
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
          <ion-button fill="clear" href="{{ article.url }}" target="_blank">Read more</ion-button>
          <ion-button fill="clear" (click)="toggleFavorite(article)">
            <ion-icon [name]="isFavorite(article) ? 'bookmark' : 'bookmark-outline'"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
