@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.top-news-title {
  font-family: 'Playfair Display';
  font-weight: bolder;
  color: #323232;
  text-align: center;
}

.headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 16px 0;
}

.section-title {
  font-family: 'Playfair Display', serif;
  color: #323232;
  margin: 0;
}

ion-button {
  --background: transparent;
  --color: #936DB1;
}

.swiper-container {
  margin-top: 30px;
  width: 100%;
  height: 50vh; 
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}

.swiper-card {
  width: 90%;
  max-width: 400px;
  height: 400px; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

.swiper-card img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px;
}

.swiper-pagination {
  position: relative;
  bottom: 20px; 
}

.swiper-pagination-bullet {
  background: #007bff;
  width: 8px;
  height: 8px;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #007aff;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px;
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: #ddd;
  margin: 16px 0;
}

.related-news {
  
  margin-top: 20px;
  padding: 0 16px;
}

.related-news h2 {
  font-family: 'Playfair Display', serif;
  color: #323232;
  margin-bottom: 16px;
  font-weight: 900;
}

ion-list {
  margin: 0;
  padding: 0;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
}

ion-thumbnail {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

ion-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-button {
  --background: transparent;
  --color: #936DB1;
}
