.header-background {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom right, #e0e0e0, #936DB1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.header-text-container {
  text-align: center;
  margin: 20px;

  .header-title {
    font-family: 'PlayfairDisplay';
    color: #323232;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .header-subtitle {
    font-family: 'PlayfairDisplay';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #323232;
  }

  .filter-button {
    --background: #936DB1;
    --color: #fff;
    --border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

  .selected-category {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  color: #555;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

ion-button.load-more {
  --background: #936DB1;
  --color: #ffffff;
}

ion-spinner {
  --color: #936DB1;
}

.read-more-button {
  --color: #936DB1;
}

.bookmark-icon {
  color: #936DB1;
}

.related-news {
  margin-top: 20px;
  padding: 0 16px;
}

.related-news h2 {
  font-family: 'Playfair Display', serif;
  color: #323232;
  margin-bottom: 16px;
  font-weight: 900;
}

ion-list {
  margin: 0;
  padding: 0;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
}

ion-thumbnail {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

ion-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-button {
  --background: transparent;
  --color: #936DB1;
}

.top-news-title {
  font-family: 'Playfair Display';
  font-weight: bolder;
  color: #323232;
  text-align: center;
}

.rounded-image {
  border-radius: 10%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}