<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Category
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="top-news-title" size="large">Category</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="header-background">
    <img src="assets/img/assets2.png" alt="Header Image" class="header-image">
  </div>

  <div class="header-text-container">
    <h1 class="header-title">News by Category</h1>
    <p class="header-subtitle">Find news based on what you are looking for</p>
    <ion-button (click)="presentCategoryPicker()" class="filter-button">
      <ion-icon slot="start" name="filter-outline"></ion-icon>
      Filter
    </ion-button>
    <p *ngIf="selectedCategory" class="selected-category">Selected Category: {{ selectedCategory | titlecase }}</p>
  </div>

  <div class="related-news">
    <h2>Related News</h2>
    <ion-list>
      <ion-item *ngFor="let article of headlines">
        <ion-thumbnail slot="start">
          <img 
            [src]="article.urlToImage || 'assets/placeholder.png'" 
            (error)="setPlaceholder($event)"
            alt="Article image"
            class="rounded-image"
          />
        </ion-thumbnail>
        <ion-label>
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
          <ion-button fill="clear" href="{{ article.url }}" target="_blank">Read more</ion-button>
          <ion-button fill="clear" (click)="toggleFavorite(article)">
            <ion-icon [name]="isFavorite(article) ? 'bookmark' : 'bookmark-outline'"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  

  <ion-button *ngIf="showLoadMoreButton && !loading" expand="block" class="load-more" (click)="loadMoreHeadlines()">
    Load More
  </ion-button>
</ion-content>
